PORT=3000
SITE_URL=http://localhost:3000
CONTACT_EMAIL=infoorbitworld.media@gmail.com
GMAIL_USER=infoorbitworld.media@gmail.com
GMAIL_APP_PASSWORD=replace_with_gmail_app_password
ADMIN_TOKEN=replace_with_a_long_random_admin_token
